.contacts{
    padding: 100px 0 150px;
    @media (max-width: 700px) {
        padding: 100px 0;
    }
    @media (max-width: 650px) {
        padding: 50px 0;
    }
    &__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 60px;
        text-align: center;
        @media (max-width: 650px) {
            font-size: 32px;
            margin-bottom: 40px;
        }
        @media (max-width: 400px) {
            font-size: 25px;
            margin-bottom: 28px;
            line-height: 40px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @media (max-width: 870px) {
            justify-content: space-around;
        }
    }
    &__block{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__top{
        text-align: center;
    }
    &__img{
        max-width: 71px;
        margin-bottom: 6px;
        @media (max-width: 600px) {
            max-width: 50px;
        }
    }
    &__desc{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #999999;
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
    &__text{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #F7654A;
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
}