@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/AnyConv.com__OpenSans_Condensed-Regular.woff') format('woff'),
         url('../fonts/OpenSans/AnyConv.com__OpenSans_Condensed-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/AnyConv.com__Oswald-Regular.woff') format('woff'),
         url('../fonts/Oswald/AnyConv.com__Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/AnyConv.com__Oswald-Medium.woff') format('woff'),
         url('../fonts/Oswald/AnyConv.com__Oswald-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/AnyConv.com__Oswald-Bold.woff') format('woff'),
         url('../fonts/Oswald/AnyConv.com__Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
}