.partners{
    padding: 100px 0;
    background-color: #404149;
    @media (max-width: 700px) {
        padding: 100px 0;
    }
    @media (max-width: 650px) {
        padding: 50px 0;
    }
    &__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
        @media (max-width: 650px) {
            font-size: 32px;
            margin-bottom: 40px;
        }
        @media (max-width: 400px) {
            font-size: 25px;
            margin-bottom: 28px;
            line-height: 40px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 1033px) {
            justify-content: center;
        }
    }
}