.question{
    padding: 150px 0;
    &__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
        margin-bottom: 50px;
    }
    &__accordins{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 730px;
    }
}

.question-accordin{
    &__top{
        display: flex;
        align-items: center;
        gap: 16px;
        color: #F7654A;
    }
    &__text{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    &__description{
        font-family: 'OpenSans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #999999;
    }
    &__bottom{
        padding-top: 30px;
        text-align: left;
    }
}