.reviews{
    padding: 150px 0;
    @media (max-width: 700px) {
        padding: 100px 0;
    }
    @media (max-width: 650px) {
        padding: 50px 0;
    }
    &__title{
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
        @media (max-width: 650px) {
            font-size: 32px;
            margin-bottom: 40px;
        }
        @media (max-width: 400px) {
            font-size: 25px;
            margin-bottom: 28px;
            line-height: 40px;
        }
    }
}

.reviews-container{
    
}

.reviews-slide{
    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__block{
        background-color: #F7F7F7;
        padding: 38px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 400px) {
            gap: 14px;
        }
    }
    &__text{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #999999;
    }
    &__description{
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: #000000;
        @media (max-width: 400px) {
            font-size: 18px;
        }
        &--color{
            color: #F7654A;
        }
    }
}